.mainDiv {
  display: flex;
  gap: 5%;
  margin-top: 3%;
}

/* Image Divs  */
.MainImgDiv {
  /* border :2px solid black; */
  width: 70%;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  border: solid 1px #ccc;
  margin-left: 3%;
  background-color: white;
}
/* .ImageDiv{
    /* border: 2px solid yellow; */

/* } */
/* .ImageInfoDiv{
    border: 2px solid yellow;
    
}  */
.IMGAGE {
  width: 300px;
  padding: 10%;
}
/*  */
.MainOfferDiv {
  /* border: 2px solid blue; */
  width: 30%;
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-right: 3%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  border: solid 1px #ccc;
}
.MainOfferDiv > div {
  /* border: 2px solid red; */
  width: 100%;
  display: grid;
  text-align: left;
  justify-content: left;
}
.FullBoldText {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: -20px;
  font-family: "Roboto Mono", monospace;
}
.OfferText {
  color: rgb(226, 17, 17);
  font-weight: 500;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}
.DeliveryTexts {
  color: rgb(123, 123, 240);
  font-weight: 500;
  font-size: 20px;
}
.ffddll {
  font-weight: 500;
  font-size: 20px;
}
.SoldByText {
  color: green;
  font-weight: 500;
  font-size: 20px;
}

/* TEXT */
.ProductTitleDiv {
  margin-top: 1%;
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: grid;
  justify-content: left;
  text-align: left;
}
#ProductTitle {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2rem;
}
.Rating-And-Reviws-Div {
  display: flex;
  margin-left: 1%;
  gap: 2px;
  width: 100%;
  margin-bottom: 2%;
}
.visit {
  color: rgb(49, 49, 114);
  width: 100%;
}
.priceDiv {
  width: 100%;
  margin-top: 2%;
  display: grid;
  justify-content: left;
  text-align: left;
}
.Price {
  font-size: 50px;
  font-weight: 400;
  margin-left: 1%;
  width: 100%;
}
.textsssss {
  margin-left: 1%;
  width: 100%;
  font-weight: 400;
}
/* TEXT */
/* freedel */
.freeDeliveryuDiv {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  gap: 1%;
}
.freeDeliveryuDiv > div {
  padding: 1%;
  display: grid;
  justify-content: center;
}
.freedeltext {
  font-weight: 400;
  color: rgb(49, 49, 114);
}
.DesCription-Box {
  /* border: 2px solid red; */
  display: grid;
  text-align: left;
  justify-content: left;
  margin-top: 10px;
}
.Desc {
  font-weight: 900;
  font-size: 24px;
  color: rgb(49, 49, 114);
  margin-left: 0;
}
.Desc > p {
  font-weight: 900;
}
#BTNDIV {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 3%;
}
.AddToCart {
  background-color: #ffbd03;
  padding: 0.2rem;
  width: 250px;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 0.5rem;
  color: black;
  font-weight: 400;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
.AddToCart:hover {
  cursor: pointer;
  background-color: #ffd76a;
}
.BuyNow {
  background-color: #f68308;
  padding: 0.2rem;
  width: 250px;
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 0.5rem;
  color: black;
  font-weight: 400;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
.BuyNow {
  cursor: pointer;
  background-color: #fc9b33;
}
@media screen and (max-width: 800px) {
  .mainDiv {
    display: grid;
    gap: 20px;
    margin-top: 1%;
  }
  .MainImgDiv {
    width: 100%;
    margin-left: 0;
  }
  .MainOfferDiv {
    width: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .freeDeliveryuDiv {
    grid-template-columns: repeat(3, 1fr);
  }
  .MainOfferDiv {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .MainOfferDiv {
    width: 100%;
  }
  #ProductTitle {
    font-weight: 500;
    font-size: 80%;
  }
  .priceDiv {
    width: 100%;
  }
  .freeDeliveryuDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .MainImgDiv {
    display: grid;

    justify-content: center;
  }
  .IMGAGE {
    width: auto;
  }
}
