.home_container {
  background-color: e3e6e6;
}
.crousel {
  position: relative;
}

.top_card {
  position: absolute;
  top: 11.3%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.app_link {
  max-width: 320px;
  height: 150px;
  padding: 15px;
  background-color: white;
}
.app_link p {
  text-align: left;
  font-size: 14.3px;
}
#download_link {
  color: #0e8094;
  font-size: 15px;
}
.offer_cat {
  background-color: #e3e6e6;
  padding: 20px;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product_carousel {
  background-color: #e3e6e6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.product_carousel_img {
  height: 230px;
  background-color: white;
}
.product_carousel_img:hover {
  cursor: pointer;
}
.product_carousel_img img {
  padding: 15px;
}
.bigcard {
  background-color: #e3e6e6;
  padding: 20px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
#grocry {
  padding-bottom: 50px;
}
@media (max-width: 1000px) {
  .app_link {
    display: none;
  }
  .offer_cat {
    grid-template-columns: repeat(3, 1fr);
  }
  .top_card {
    grid-template-columns: repeat(3, 1fr);
    top: 8.5%;
  }
  .bigcard {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  .top_card {
    top: 7.3%;
  }
}
@media (max-width: 720px) {
  .top_carousel_img img {
    width: 200px;
  }
  .app_link {
    display: none;
  }
  .offer_cat {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 495px;
  }
  .top_card {
    grid-template-columns: repeat(2, 1fr);
    top: 6.5%;
    padding-bottom: 50px;
    /* left:1% */
  }
  .bigcard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .app_link {
    display: none;
  }
  .offer_cat {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 925px;
  }
  .top_card {
    grid-template-columns: repeat(1, 1fr);
    top: 5.3%;
  }
  .bigcard {
    grid-template-columns: repeat(1, 1fr);
  }
}
